version: "3.8"

services:                   
    #Nginx Service
    webserver:
        image: nginx:alpine
        container_name: nginx
        restart: unless-stopped
        tty: true
        ports:
            - "80:80"
            - "443:443"
            - "81:81"   
        volumes:
            - ./src:/src
            - ./config/nginx:/etc/nginx/conf.d
            - /static:/static          
    #Django Service
    django:
        build: .
        container_name: django
        command: python manage.py runserver 0.0.0.0:8000
        #command: bash -c "python manage.py makemigrations && migrate mydjango.wsgi -b 0.0.0.0:8000"    
        volumes: 
            - .:/usr/src/app
        ports:
            - "8000:8000"
        depends_on:
            #- db            
            - pgdb             
    #MySQL Service
    db:
        image: mysql:5.7.32
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports:
        - "3306:3306"
        environment:       
            MYSQL_DATABASE: enviame     
            MYSQL_ROOT_PASSWORD: 123
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql         
    #POSTGRES Service
    pgdb:
        image: postgres:10.5
        container_name: postgresql
        restart: unless-stopped
        tty: true
        ports:
        - "5432:5432"
        environment: 
            - POSTGRES_DB=enviame
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=123